.title {
    display: flex;
    flex-direction: row;
}

#url_name {
    padding-left: 8px;
}

.query {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.isSecure {
    color: green;
}

.isNotSecure {
    color: red;
}

.body {
    width: 500px;
    padding: 16px;
}

.page-header {
    margin-top: 0 !important;;
}

.container {
    padding: 0 !important;;
}

.options-header{
    display: flex;
    justify-content: space-between;
}